* {
  font-family: Oxanium;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: share tech mono;
  font-family: "exo 2";
  font-family: "space grotesk";*/
  
  /*font-family: titillium web;*/
  font-weight: 200;
}

html {
  height: 100%;
  width: 100%;


 
 
  padding: 0px 7%;
}

/*
.fade-in-on-load {
  opacity: 0;
  transition: opacity 1s; /* Adjust transition properties as needed 
}
*/

body {
  
  margin: 0;
  padding: 0;
  width: 100%;
  
}

footer {

}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  height: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;

}



.logo {
  text-align: left;
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}


html {
  margin: 0;
  padding: 0;
}


.mainsection {
  display: flex; /* Use flexbox to center content */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Make sure it takes the full viewport height */
}


h1 {
  height: 38px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  color: white;
  padding-top: 40px;
  position: relative;
}

#form {
  padding: 40px;
}


.container {
  width: 400px;
  margin: auto; /* Centers the container horizontally */
  text-align: center;

  border-radius: 15px;
  top: 400px;
}


#input {
  width: 300px;
  height: 37px;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.6);
  border: none;
  display: block;
  margin: auto;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

#shorten {
  width: 91px;
  height: 37px;
  border-radius: 8px;
  border: none;
  background-color: rgba(30, 30, 30, 0.6);
  margin-top: 48px;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  margin-right: -3px;
  transition: linear-gradient 1s ease;
}

#shorten:hover {
  background: linear-gradient(to right, #3f74ff, #7b3fff);
  box-shadow: 
  0 0 10px rgba(63, 116, 255, 0.6),
  0 0 20px rgba(123, 63, 255, 0.4),
  0 0 30px rgba(63, 116, 255, 0.2);
  cursor: pointer;
  border: none;
  color: black;
  cursor: pointer;
}

#shorten:active {
  background-color: #ffffff;
  border: solid 0.8px #4a4a4a;
  color: #1f233e;
  cursor: pointer;
}

#responseField {
  min-width: 191px;
  min-height: 120px;
  margin: auto;
  margin-top: 25px;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  overflow: auto;
}


.nav {
  
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  /*backdrop-filter: blur(40px);*/
  /*-webkit-backdrop-filter: blur(60px);*/
  /*-moz-backdrop-filter: blur(40px);*/
  background-color: black;
  /*background: rgb(20, 20, 22);*/
  /*box-shadow: 0px 0px 30px rgba(237, 237, 237, 0.37);*/
  z-index: 100;
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Adjust alpha transparency as needed */
  z-index: -1; /* Place the blurred layer behind the navbar content */
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: lightgray;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .logo {
    transform:translateX(30px)
  }
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav #search-icon {
  cursor: pointer;
  margin: 0 10px;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color:  #AAFE1E;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }


  .nav .nav-links {
    font-size: 30px;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    row-gap: 40px;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    transition: all 0.4s ease;
    z-index: 1001;
}

  

  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: lightgray;
    font-size: 25px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
